# IDE-specific files
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.launch

# Project metadata files
.classpath
.metadata
.project
.settings

# Build and output directories
.gradle/
build/
bin/
classes/
libs/
out/
output/
run/

# Local configuration files
local.properties